version: 2
jobs:
  build:
    docker:
      - image: debian:stretch

    steps:
      - checkout

      - run:
          name: Install dependencies
          command: apt update && apt install curl wget aria2 vim unzip man screen -y
      - run:
          name: Install rclone
          command: curl https://rclone.org/install.sh | bash
      - run:
          name: Create rclone config from ENV
          command: mkdir -p ~/.config/rclone && echo -e $RCLONE_CONF > ~/.config/rclone/rclone.conf
      - run:
          name: Echo aria2c start script to .bashrc
          command: echo "cd project/aria2c && screen -dm -S aria2c aria2c --conf-path=aria2c.conf" > ~/.bashrc